.hero-sec {
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-sec video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero-content {
  padding: 0 15rem;
  top: 13.5rem;
  position: absolute;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content h1,
p {
  text-align: center;
}

.hero-content h1 {
  font-size: 10rem;
  margin: 0;
}

.hero-content p {
  font-weight: 600;
  font-size: large;
}

.hero-btns {
  margin: 1rem 2rem;
}

.hero-btns button {
  font-size: 1.2rem;
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  margin: 1rem;
  border: 3px solid white;
  font-weight: bold;
}

.btn-outline {
  background-color: transparent;
  color: white;
}

.btn-primary {
  background-color: white;
}

.btn-outline:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  background-color: #ccc;
  border-color: #ccc;
}

@media (max-width: 1280px) {
  .hero-content {
    padding: 0 12rem;
  }
}

@media (max-width: 1160px) {
  .hero-content {
    padding: 0 10rem;
  }
  .hero-content h1 {
    font-size: 9rem;
  }
}

@media (max-width: 1080px) {
  .hero-content {
    padding: 0 8rem;
  }
  .hero-content h1 {
    font-size: 8rem;
  }
}

@media (max-width: 860px) {
  .hero-content {
    padding: 0 6rem;
  }
  .hero-content h1 {
    font-size: 7rem;
  }
}

@media (max-width: 760px) {
  .hero-content {
    padding: 0 6rem;
  }
  .hero-content h1 {
    font-size: 6rem;
  }
}

@media (max-width: 660px) {
  .hero-content {
    padding: 0 4rem;
    scale: 0.9;
  }
  .hero-content h1 {
    scale: 0.9;
  }
  .hero-btns {
    scale: 0.9;
    margin: 0;
  }
}

@media (max-width: 560px) {
  .hero-content {
    padding: 0 2rem;
  }
  .hero-content h1 {
    scale: 0.8;
  }
}

@media (max-width: 480px) {
  .hero-content {
    padding: 0 1rem;
    scale: 0.8;
    top: 10rem;
  }
  .hero-content h1 {
    scale: 0.8;
  }

  .hero-btns button {
    padding: 0.5rem 2rem;
    margin: 0.5rem 1rem;
  }
}

@media (max-width: 360px) {
  .hero-content h1 {
    font-size: 5rem;
  }
}
