.toggle-btn {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: none;
  background: none;
  display: none;
  color: white;
}

@media (max-width: 1200px) {
  .toggle-btn {
    display: block;
    margin-right: 3rem;
  }
}
